@import url(../../vendors/normalize.css);
.verticalAlignClass, [class='contact-page'] .header__item, [class='contact-page'] .header__text, [class='contact-page'] .header__pic-arrow, [class='contact-page'] .header__pic-heart {
  vertical-align: middle;
  display: inline-block; }

.paddingMarginZero {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.page-container {
  min-height: calc(100% - 280px); }

[class='contact-page'] {
  height: 100%; }
  [class='contact-page'] .container {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
    position: relative; }
  [class='contact-page'] .container__left {
    width: 50%;
    height: 100%;
    display: inline-block; }
  [class='contact-page'] .container__right {
    width: 50%;
    height: 100%;
    display: inline-block; }
  [class='contact-page'] .container__column {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
  @media all and (max-width: 880px) {
    [class='contact-page'] .container__left {
      width: 162px; }
    [class='contact-page'] .container__right {
      width: calc(100% - 162px); } }
  [class='contact-page'] .header {
    height: 64px;
    background-color: #00BEAE; }
  [class='contact-page'] .header__logo {
    height: 100%;
    width: 142px;
    margin-left: 15px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: -13px 6px; }
  [class='contact-page'] .header__link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: inline-block; }
  [class='contact-page'] .header__link_item {
    padding: 0px 20px; }
    [class='contact-page'] .header__link_item:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
  [class='contact-page'] .header__nav {
    height: 100%;
    color: #fff;
    font-size: .75rem;
    font-weight: bold; }
  [class='contact-page'] .header__burger {
    display: none; }
  [class='contact-page'] .header__list {
    padding: 0;
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    float: right;
    font-size: 0; }
  [class='contact-page'] .header__list_open {
    display: none;
    z-index: 2; }
  [class='contact-page'] .header__item {
    height: 100%;
    transition: background-color 1s ease-in-out; }
    [class='contact-page'] .header__item:hover {
      background-color: #06ad9f; }
  @media all and (max-width: 690px) {
    [class='contact-page'] .header__burger {
      display: inline-block;
      float: right;
      width: 20px;
      height: 16px;
      margin: 24px 20px; }
    [class='contact-page'] .header__list {
      display: none; }
    [class='contact-page'] .header__list_open {
      display: block;
      width: calc(100% + 162px);
      position: relative;
      top: 0; }
    [class='contact-page'] .header__item {
      width: 100%;
      background-color: #00BEAE;
      border-top: 1px solid white; } }
  [class='contact-page'] .header__text {
    font-size: .75rem; }
  [class='contact-page'] .header__pic-arrow {
    width: 8px;
    height: 4px;
    background-image: url(../../images/pic-arrow.svg);
    background-repeat: no-repeat;
    background-position: -1px -2px;
    margin-left: 12px;
    margin-right: 7px; }
  [class='contact-page'] .header__pic-heart {
    width: 24px;
    height: 18px;
    background-image: url(../../images/pic-heart.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-right: 8px; }
  [class='contact-page'] .header_fix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2; }
  [class='contact-page'] .content {
    height: 100%;
    background-color: #F2F2F2;
    overflow: hidden;
    position: relative; }
  [class='contact-page'] .content__image {
    width: 100%;
    height: 100%; }
  [class='contact-page'] .content__close {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 24px;
    top: 26px; }
  [class='contact-page'] .content__section {
    margin: 0;
    padding: 0;
    max-width: 512px;
    width: 50%;
    height: 100%;
    display: inline-block; }
  [class='contact-page'] .content__section_contacts {
    height: 582px;
    float: left;
    padding: 45px 10px 0 74px; }
  [class='contact-page'] .content__section_form {
    height: 705px;
    padding: 41px 46px 32px 46px;
    float: right;
    background-color: #06AD9F; }
  [class='contact-page'] .content__section_map {
    height: 512px;
    float: left;
    position: relative; }
  [class='contact-page'] .content__section_callback {
    display: none;
    max-width: 100%;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 64px;
    z-index: 1;
    background-color: #fff; }
  [class='contact-page'] .content__section_visible {
    display: block; }
  @media all and (max-width: 750px) {
    [class='contact-page'] .content__section {
      max-width: 100%; }
    [class='contact-page'] .content__section_contacts {
      padding-top: 30px;
      padding-left: 19px;
      height: 507px; }
    [class='contact-page'] .content__section_form {
      height: 565px;
      padding: 16px 21px; }
    [class='contact-page'] .content__section_map {
      height: 569px; }
    [class='contact-page'] .content__section_contacts, [class='contact-page'] .content__section_form, [class='contact-page'] .content__section_map {
      width: 100%;
      float: none; } }
  [class='contact-page'] .article {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%; }
  [class='contact-page'] .article__header {
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    font-size: 36px;
    width: 240px;
    line-height: 124%;
    color: #4F4F4F; }
  [class='contact-page'] .article__text {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    font-size: 18px;
    line-height: 146%;
    color: #333333; }
  [class='contact-page'] .article__text_link {
    width: 230px;
    margin-bottom: 40px; }
  [class='contact-page'] .article__text_slogan {
    margin-bottom: 12px; }
  [class='contact-page'] .article__link {
    display: inline-block;
    width: 100%;
    text-decoration: none; }
  [class='contact-page'] .article__link_red {
    color: #FF5A5F;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.006em;
    vertical-align: middle;
    height: 29px; }
  [class='contact-page'] .article__icon {
    width: 10px;
    height: 20px;
    display: inline-block;
    padding-left: 17px;
    vertical-align: middle;
    background-image: url(../../images/contact-page/contact__arrow.svg);
    background-position: right center;
    background-repeat: no-repeat; }
  [class='contact-page'] .article__contacts {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 120%;
    color: #4F4F4F;
    list-style: none;
    padding: 0;
    letter-spacing: 0.006em;
    margin-bottom: 44px; }
  [class='contact-page'] .article__item_contacts {
    margin-bottom: 5px; }
  [class='contact-page'] .article__social {
    padding: 0;
    margin-left: -4px;
    letter-spacing: 12px; }
  [class='contact-page'] .article__item_social {
    display: inline-block; }
  @media all and (max-width: 750px) {
    [class='contact-page'] .article__header {
      font-size: 24px;
      width: 190px;
      margin-bottom: 24px; }
    [class='contact-page'] .article__text {
      font-size: 14px;
      width: 255px;
      margin-bottom: 29px; }
    [class='contact-page'] .article__text_link {
      margin-bottom: 16px; }
    [class='contact-page'] .article__text_slogan {
      font-size: 18px;
      margin-bottom: 12px; }
    [class='contact-page'] .article__contacts {
      margin-bottom: 57px; }
    [class='contact-page'] .article__image {
      width: 36px;
      height: 36px; }
    [class='contact-page'] .article__social {
      margin-left: 0;
      letter-spacing: 10px; } }
  [class='contact-page'] .form {
    line-height: 48px;
    max-width: 415px; }
  [class='contact-page'] .form__header {
    padding: 0;
    margin: 0;
    margin-bottom: 18px;
    font-size: 24px;
    font-weight: bold;
    color: white; }
  [class='contact-page'] .form__input {
    width: 100%;
    max-width: 415px;
    height: 48px;
    font-size: 14px;
    color: #333333;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 15px;
    margin-bottom: 28px;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    [class='contact-page'] .form__input::-webkit-input-placeholder {
      color: #828282; }
    [class='contact-page'] .form__input::-moz-placeholder {
      color: #828282; }
    [class='contact-page'] .form__input:-moz-placeholder {
      color: #828282; }
    [class='contact-page'] .form__input:-ms-input-placeholder {
      color: #828282; }
  [class='contact-page'] .form__input_message {
    height: 261px;
    margin-bottom: 4px; }
  [class='contact-page'] .form__submit {
    max-width: 415px;
    width: 100%;
    height: 48px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: #FF5A5F;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer; }
  @media all and (max-width: 750px) {
    [class='contact-page'] .form {
      max-width: 100%;
      margin: 0 auto; }
    [class='contact-page'] .form__input_message {
      height: 130px; } }
  [class='contact-page'] .map {
    max-width: 512px;
    width: 100%;
    height: 100%; }
  [class='contact-page'] .details {
    width: 160px;
    height: 130px;
    font-size: 18px;
    padding: 15px 22px;
    position: absolute;
    left: 25px;
    bottom: 56px;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1; }
  [class='contact-page'] .details__header {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: bold;
    color: #007067; }
  [class='contact-page'] .details__address {
    margin: 0;
    padding: 0;
    color: #333333; }
  [class='contact-page'] .details__line {
    display: block;
    margin-bottom: 6px; }
  @media all and (max-width: 750px) {
    [class='contact-page'] .map {
      max-width: 100%; }
    [class='contact-page'] .details {
      left: 22px;
      bottom: 39px; } }
  [class='contact-page'] .callback__button {
    display: none;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #FF5A5F;
    position: absolute;
    right: 20px;
    bottom: 45px;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    line-height: 56px; }
  [class='contact-page'] .callback__image {
    vertical-align: middle; }
  @media all and (max-width: 750px) {
    [class='contact-page'] .callback__button {
      display: block; } }
  [class='contact-page'] .callback-form {
    padding: 108px 218px; }
  [class='contact-page'] .callback-form__header {
    margin-bottom: 66px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 120%;
    color: #4F4F4F; }
  [class='contact-page'] .callback-form__input {
    display: block;
    max-width: 415px;
    width: 100%;
    height: 48px;
    margin: 0 auto 23px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    letter-spacing: -1px;
    color: #00BEAE;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    [class='contact-page'] .callback-form__input:focus {
      outline: none; }
    [class='contact-page'] .callback-form__input::-webkit-input-placeholder {
      color: #00BEAE; }
    [class='contact-page'] .callback-form__input::-moz-placeholder {
      color: #00BEAE; }
    [class='contact-page'] .callback-form__input:-moz-placeholder {
      color: #00BEAE; }
    [class='contact-page'] .callback-form__input:-ms-input-placeholder {
      color: #00BEAE; }
  [class='contact-page'] .callback-form__input_last {
    margin-bottom: 69px; }
  [class='contact-page'] .callback-form__submit {
    display: block;
    margin: 0 auto;
    border: 0;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    max-width: 415px;
    width: 100%;
    height: 48px;
    background-color: #FF5A5F;
    cursor: pointer; }
  @media all and (max-width: 750px) {
    [class='contact-page'] .callback-form {
      padding: 42px 20px; }
    [class='contact-page'] .callback-form__header {
      margin-bottom: 13px;
      font-size: 24px;
      line-height: 125%;
      word-spacing: 3px; }
    [class='contact-page'] .callback-form__input {
      margin: 0 auto 3px;
      font-size: 14px; }
    [class='contact-page'] .callback-form__input_last {
      margin-bottom: 32px; } }
  [class='contact-page'] .footer {
    height: 280px;
    width: 100%;
    background-color: #404040; }

/*# sourceMappingURL=contact.css.map */
