// Imports
@import "../../vendors/normalize.css";

// Variables
$screenWidth: 1024px;

$aqua: #00BEAE;
$yellow: #F4C900;
$orangered: #FF5A5F;
$darkGreen: #06ad9f;

$headerBgColor: #00BEAE;
$headerItemHoverBgColor: $darkGreen;

$contentBg: #F2F2F2;
$searchPanelBgc: $darkGreen;
$searchButtonBgc: $orangered;

$categoriesItemBgc: $aqua;

$regularHeaderColor: #4F4F4F;
$regularTextColor: #333333;

$footerBgColor: #404040;

// Extensions for media queries
$tabletExtension: 750px;
$littleDesktopExtension: 1000px;

// Mixins
@mixin placeholderStyles {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder          { @content; } /* Firefox 19+ */
  &:-moz-placeholder           { @content; } /* Firefox 18- */
  &:-ms-input-placeholder      { @content; }
}

@mixin verticalMiddle {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Super classes
.verticalAlignClass {
  vertical-align: middle;
  display: inline-block;
}

.paddingMarginZero {
  padding: 0;
  margin: 0;
}

// Page configurations
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.page-container {
  min-height: calc(100% - 280px);
}

[class='help-page'] {
  height: 100%;

  // Container
  .container {
    max-width: $screenWidth;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
  }

  .container__left {
    width: 50%;
    height: 100%;
    display: inline-block;
  }

  .container__right {
    width: 50%;
    height: 100%;
    display: inline-block;
  }

  .container__column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }

  // Special media query for better behavior.
  @media all and (max-width: 880px) {
    .container__left {
      width: 162px;
    }

    .container__right {
      width: calc(100% - 162px);
    }
  }

  // Header
  .header {
    height: 64px;
    background-color: $headerBgColor;
  }

  .header__logo {
    height: 100%;
    width: 142px;
    //margin-left: 20px; // works good for my desktop without responsive google dev tool.
    margin-left: 15px;

    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: -13px 6px;
  }

  .header__link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }

  .header__link_item {
    //padding: 0px 19px; // works good for my desktop without responsive google dev tool.
    padding: 0px 20px;

    @include verticalMiddle;
  }

  .header__nav {
    height: 100%;
    color: #fff;
    font-size: .75rem;
    font-weight: bold;
  }

  .header__burger {
    display: none;
  }

  .header__list {
    padding: 0;
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    float: right;
    font-size: 0;
  }

  .header__list_open {
    display: none;
    z-index: 2;
  }

  .header__item {
    height: 100%;
    transition: background-color 1s ease-in-out;

    @extend .verticalAlignClass;

    &:hover {
      background-color: $headerItemHoverBgColor;
    }
  }

  @media all and (max-width: 690px){
    .header__burger {
      display: inline-block;
      float: right;
      width: 20px;
      height: 16px;

      margin: 24px 20px;
    }

    .header__list {
      display: none;
    }

    .header__list_open {
      display: block;
      width: calc(100% + 162px);
      position: relative;
      top: 0;
    }

    .header__item {
      width: 100%;
      background-color: $headerBgColor;
      border-top: 1px solid white;
    }
  }

  .header__text {
    font-size: .75rem;
    @extend .verticalAlignClass;
  }

  .header__pic-arrow {
    width: 8px;
    height: 4px;
    background-image: url(../../images/pic-arrow.svg);
    background-repeat: no-repeat;
    background-position: -1px -2px;

    //margin-left: 14px; // works good for my desktop without responsive google dev tool.
    //margin-right: 7px; // works good for my desktop without responsive google dev tool.

    margin-left: 12px;
    margin-right: 7px;

    @extend .verticalAlignClass;
  }

  .header__pic-heart {
    width: 24px;
    height: 18px;
    background-image: url(../../images/pic-heart.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-right: 8px;

    @extend .verticalAlignClass;
  }

  // Content
  .content {
    height: 100%;
    background-color: $contentBg;
    overflow: hidden;

    position: relative;
  }

  .content__section {
    margin: 0;
    padding: 0;

    display: inline-block;
  }

  .content__section_questions {
    width: 100%;
    padding: 36px 107px 17px 57px;
    overflow: hidden;
  }

  @media all and (max-width: $littleDesktopExtension) {
    .content__section_questions {
      padding-left: 25px;
      padding-right: 10px;
    }
  }

  @media all and (max-width: $tabletExtension) {
    .content__section_questions {
      padding: 40px 21px 17px 19px;
    }
  }

  // Search block
  .search {
    width: 100%;
    height: 94px;

    background-color: $searchPanelBgc;
  }

  .search__paddings {
    padding: 22px 5px 25px 75px; // 21px
  }

  @media all and (max-width: $littleDesktopExtension) {
    .search__paddings {
      padding-left: 25px;
      padding-right: 10px;
    }
  }

  @media all and (max-width: $tabletExtension) {
    .search {
      height: 176px;
    }

    .search__paddings {
      //padding: 32px 31px 27px 20px; // works good for pixel-perfect but i think there is some bug
      padding: 32px 20px 27px 20px;
    }
  }

  // Search-help
  .search-help {
    height: 48px;
    width: 100%;
    overflow: hidden;
  }

  .search-help__slogan {
    //width: 133px;
    height: 100%;
    width: 21%;
    //margin-right: 64px;

    display: inline-block;
    vertical-align: middle;

    @include verticalMiddle;
  }

  .search-help__text {
    display: inline-block;
    vertical-align: middle;

    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white;
  }

  .search-help__arrow {
    width: 20px;
    height: 16px;
    margin-left: 17px;

    display: inline-block;
    vertical-align: middle;

  }

  .search-help__input {
    display: inline-block;
    vertical-align: middle;

    width: 62%;
    //height: 100%;
    height: 48px;

    padding: 0 14px;
    word-spacing: 1px;
    border: 0;

    font-size: 14px;
    color: $regularTextColor;

    &:focus {
      outline: none;

      @include placeholderStyles {
        color: rgba($regularTextColor, .5);
      }
    }

    @include placeholderStyles {
      color: $regularTextColor;
    }
  }

  .search-help__submit {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;

    width: 16%;
    //height: 100%;
    height: 48px;

    font-size: 14px;
    font-weight: bold;
    color: white;

    border: 0;
    background-color: $searchButtonBgc;
  }

  @media all and (max-width: $tabletExtension) {
    .search-help {
      height: 100%;
    }
    
    .search-help__slogan {
      display: none;
    }

    .search-help__input {
      margin-bottom: 21px;
    }

    .search-help__input, .search-help__submit {
      width: 100%;
    }
  }

  // Categories
  .categories {
    display: inline-block;
    height: 100%;
    width: 25%;
    float: left;
  }
  
  .categories__title {
    margin: 0;
    padding: 0;
    display: none;
    margin-bottom: 28px;

    font-size: 18px;
    font-weight: normal;
    color: $regularTextColor;
  }

  .categories__list {
    padding: 0;
    //padding-left: 20px;
    list-style-type: none;
  }

  .categories__item {
    height: 33px;
    margin-bottom: 4px;

    font-size: 12px;
    text-transform: uppercase;
    color: $regularTextColor;
  }

  .categories__link {
    display: inline-block;
    height: 100%;
    padding-left: 19px;
    padding-right: 27px;

    color: inherit;
    text-decoration: none;

    position: relative;
    line-height: 33px;

    //@include verticalMiddle;

    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 0;
      width: 0px;
      height: 33px;
      background-color: rgba($categoriesItemBgc, .3);
      transition: all 2s ease;
     }

    &:hover:after {
      width: 100%;
    }
  }

  .categories__link_active {
    color: white;
    background-color: $categoriesItemBgc;

    &:after {
      transition: none;
      background: transparent;
    }
  }

  @media all and (max-width: $littleDesktopExtension) {
    .categories {
      width: 30%;
    }
  }

  @media all and (max-width: $tabletExtension) {
    .categories {
      float: none;
      width: 100%;
    }

    .categories__title {
      display: block;
      margin-bottom: 14px;
    }

    .categories__link {
      padding-left: 9px;
      left: -10px;
    }
  }

  // FAQ
  .faq {
    //max-width: 645px;
    width: 75%;
    height: 100%;
    display: inline-block;
    float: right;
  }
  
  .faq__section {
    display: block;
  }
  
  .faq__section_invisible {
    display: none;
  }

  .faq__header {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;

    font-size: 24px;
    font-weight: normal;
    color: $regularTextColor;
  }
  
  .faq__text {
    text-transform: capitalize;
  }
  
  .faq__categories {
    text-transform: lowercase;
  }

  @media all and (max-width: $littleDesktopExtension) {
    .faq {
      width: 70%;
    }

    .faq__header {
      font-size: 18px;
    }
  }

  @media all and (max-width: $tabletExtension) {
    .faq {
      float: none;
      width: 100%;
    }

    .faq__header {
      margin-bottom: 20px;
    }

    // !!!!
    .faq__categories {
      display: none;
    }
  }

  // Question
  .question {
    margin-bottom: 28px;
    font-size: 14px;
  }

  .question__title {
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
    font-size: 14px;
    font-weight: bold;
  }

  .question__answer {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 142%;
  }

  @media all and (max-width: $tabletExtension) {
    .question__title {
      margin-bottom: 15px;
    }
  }

  // FOOTER
  .footer {
    height: 280px;
    width: 100%;
    background-color: $footerBgColor;
  }
}