@import url(../../vendors/normalize.css);
.verticalAlignClass, [class='help-page'] .header__item, [class='help-page'] .header__text, [class='help-page'] .header__pic-arrow, [class='help-page'] .header__pic-heart {
  vertical-align: middle;
  display: inline-block; }

.paddingMarginZero {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.page-container {
  min-height: calc(100% - 280px); }

[class='help-page'] {
  height: 100%; }
  [class='help-page'] .container {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
    position: relative; }
  [class='help-page'] .container__left {
    width: 50%;
    height: 100%;
    display: inline-block; }
  [class='help-page'] .container__right {
    width: 50%;
    height: 100%;
    display: inline-block; }
  [class='help-page'] .container__column {
    width: 50%;
    display: inline-block;
    vertical-align: top; }
  @media all and (max-width: 880px) {
    [class='help-page'] .container__left {
      width: 162px; }
    [class='help-page'] .container__right {
      width: calc(100% - 162px); } }
  [class='help-page'] .header {
    height: 64px;
    background-color: #00BEAE; }
  [class='help-page'] .header__logo {
    height: 100%;
    width: 142px;
    margin-left: 15px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: -13px 6px; }
  [class='help-page'] .header__link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: inline-block; }
  [class='help-page'] .header__link_item {
    padding: 0px 20px; }
    [class='help-page'] .header__link_item:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
  [class='help-page'] .header__nav {
    height: 100%;
    color: #fff;
    font-size: .75rem;
    font-weight: bold; }
  [class='help-page'] .header__burger {
    display: none; }
  [class='help-page'] .header__list {
    padding: 0;
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    float: right;
    font-size: 0; }
  [class='help-page'] .header__list_open {
    display: none;
    z-index: 2; }
  [class='help-page'] .header__item {
    height: 100%;
    transition: background-color 1s ease-in-out; }
    [class='help-page'] .header__item:hover {
      background-color: #06ad9f; }
  @media all and (max-width: 690px) {
    [class='help-page'] .header__burger {
      display: inline-block;
      float: right;
      width: 20px;
      height: 16px;
      margin: 24px 20px; }
    [class='help-page'] .header__list {
      display: none; }
    [class='help-page'] .header__list_open {
      display: block;
      width: calc(100% + 162px);
      position: relative;
      top: 0; }
    [class='help-page'] .header__item {
      width: 100%;
      background-color: #00BEAE;
      border-top: 1px solid white; } }
  [class='help-page'] .header__text {
    font-size: .75rem; }
  [class='help-page'] .header__pic-arrow {
    width: 8px;
    height: 4px;
    background-image: url(../../images/pic-arrow.svg);
    background-repeat: no-repeat;
    background-position: -1px -2px;
    margin-left: 12px;
    margin-right: 7px; }
  [class='help-page'] .header__pic-heart {
    width: 24px;
    height: 18px;
    background-image: url(../../images/pic-heart.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-right: 8px; }
  [class='help-page'] .content {
    height: 100%;
    background-color: #F2F2F2;
    overflow: hidden;
    position: relative; }
  [class='help-page'] .content__section {
    margin: 0;
    padding: 0;
    display: inline-block; }
  [class='help-page'] .content__section_questions {
    width: 100%;
    padding: 36px 107px 17px 57px;
    overflow: hidden; }
  @media all and (max-width: 1000px) {
    [class='help-page'] .content__section_questions {
      padding-left: 25px;
      padding-right: 10px; } }
  @media all and (max-width: 750px) {
    [class='help-page'] .content__section_questions {
      padding: 40px 21px 17px 19px; } }
  [class='help-page'] .search {
    width: 100%;
    height: 94px;
    background-color: #06ad9f; }
  [class='help-page'] .search__paddings {
    padding: 22px 5px 25px 75px; }
  @media all and (max-width: 1000px) {
    [class='help-page'] .search__paddings {
      padding-left: 25px;
      padding-right: 10px; } }
  @media all and (max-width: 750px) {
    [class='help-page'] .search {
      height: 176px; }
    [class='help-page'] .search__paddings {
      padding: 32px 20px 27px 20px; } }
  [class='help-page'] .search-help {
    height: 48px;
    width: 100%;
    overflow: hidden; }
  [class='help-page'] .search-help__slogan {
    height: 100%;
    width: 21%;
    display: inline-block;
    vertical-align: middle; }
    [class='help-page'] .search-help__slogan:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
  [class='help-page'] .search-help__text {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: white; }
  [class='help-page'] .search-help__arrow {
    width: 20px;
    height: 16px;
    margin-left: 17px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../../images/help-page/search-help__arrow.svg);
    background-repeat: no-repeat; }
  [class='help-page'] .search-help__input {
    display: inline-block;
    vertical-align: middle;
    width: 62%;
    height: 48px;
    padding: 0 14px;
    word-spacing: 1px;
    border: 0;
    font-size: 14px;
    color: #333333;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    [class='help-page'] .search-help__input:focus {
      outline: none;
      /* Firefox 19+ */
      /* Firefox 18- */ }
      [class='help-page'] .search-help__input:focus::-webkit-input-placeholder {
        color: rgba(51, 51, 51, 0.5); }
      [class='help-page'] .search-help__input:focus::-moz-placeholder {
        color: rgba(51, 51, 51, 0.5); }
      [class='help-page'] .search-help__input:focus:-moz-placeholder {
        color: rgba(51, 51, 51, 0.5); }
      [class='help-page'] .search-help__input:focus:-ms-input-placeholder {
        color: rgba(51, 51, 51, 0.5); }
    [class='help-page'] .search-help__input::-webkit-input-placeholder {
      color: #333333; }
    [class='help-page'] .search-help__input::-moz-placeholder {
      color: #333333; }
    [class='help-page'] .search-help__input:-moz-placeholder {
      color: #333333; }
    [class='help-page'] .search-help__input:-ms-input-placeholder {
      color: #333333; }
  [class='help-page'] .search-help__submit {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    width: 16%;
    height: 48px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    border: 0;
    background-color: #FF5A5F; }
  @media all and (max-width: 750px) {
    [class='help-page'] .search-help {
      height: 100%; }
    [class='help-page'] .search-help__slogan {
      display: none; }
    [class='help-page'] .search-help__input {
      margin-bottom: 21px; }
    [class='help-page'] .search-help__input, [class='help-page'] .search-help__submit {
      width: 100%; } }
  [class='help-page'] .categories {
    display: inline-block;
    height: 100%;
    width: 25%;
    float: left; }
  [class='help-page'] .categories__title {
    margin: 0;
    padding: 0;
    display: none;
    margin-bottom: 28px;
    font-size: 18px;
    font-weight: normal;
    color: #333333; }
  [class='help-page'] .categories__list {
    padding: 0;
    list-style-type: none; }
  [class='help-page'] .categories__item {
    height: 33px;
    margin-bottom: 4px;
    font-size: 12px;
    text-transform: uppercase;
    color: #333333; }
  [class='help-page'] .categories__link {
    display: inline-block;
    height: 100%;
    padding-left: 19px;
    padding-right: 27px;
    color: inherit;
    text-decoration: none;
    position: relative; }
    [class='help-page'] .categories__link:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
    [class='help-page'] .categories__link:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 0;
      width: 0px;
      height: 33px;
      background-color: rgba(0, 190, 174, 0.3);
      transition: all 2s ease; }
    [class='help-page'] .categories__link:hover:after {
      width: 100%; }
  [class='help-page'] .categories__link_active {
    color: white;
    background-color: #00BEAE; }
    [class='help-page'] .categories__link_active:after {
      opacity: 0; }
  @media all and (max-width: 1000px) {
    [class='help-page'] .categories {
      width: 30%; } }
  @media all and (max-width: 750px) {
    [class='help-page'] .categories {
      float: none;
      width: 100%; }
    [class='help-page'] .categories__title {
      display: block;
      margin-bottom: 14px; }
    [class='help-page'] .categories__link {
      padding-left: 9px;
      left: -10px; } }
  [class='help-page'] .faq {
    width: 75%;
    height: 100%;
    display: inline-block;
    float: right; }
  [class='help-page'] .faq__header {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    font-size: 24px;
    font-weight: normal;
    color: #333333; }
  [class='help-page'] .faq__text {
    text-transform: capitalize; }
  @media all and (max-width: 1000px) {
    [class='help-page'] .faq {
      width: 70%; }
    [class='help-page'] .faq__header {
      font-size: 18px; } }
  @media all and (max-width: 750px) {
    [class='help-page'] .faq {
      float: none;
      width: 100%; }
    [class='help-page'] .faq__header {
      margin-bottom: 20px; }
    [class='help-page'] .faq__category {
      display: none; } }
  [class='help-page'] .question {
    margin-bottom: 28px;
    font-size: 14px; }
  [class='help-page'] .question__title {
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
    font-weight: bold; }
  [class='help-page'] .question__answer {
    margin: 0;
    padding: 0;
    font-weight: normal;
    line-height: 142%; }
  @media all and (max-width: 750px) {
    [class='help-page'] .question__title {
      margin-bottom: 15px; } }
  [class='help-page'] .footer {
    height: 280px;
    width: 100%;
    background-color: #404040; }

/*# sourceMappingURL=help.css.map */
