@import url(../../vendors/normalize.css);
.verticalAlignClass, [class='about-page'] .header__item, [class='about-page'] .header__text, [class='about-page'] .header__pic-arrow, [class='about-page'] .header__pic-heart {
  vertical-align: middle;
  display: inline-block; }

.paddingMarginZero, [class='about-page'] .article__header, [class='about-page'] .article__text, [class='about-page'] .partners {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }

.page-container {
  min-height: calc(100% - 280px); }

[class='about-page'] .container {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  font-size: 0; }
[class='about-page'] .container__left {
  width: 50%;
  height: 100%;
  display: inline-block; }
[class='about-page'] .container__right {
  width: 50%;
  height: 100%;
  display: inline-block; }
@media all and (max-width: 880px) {
  [class='about-page'] .container__left {
    width: 162px; }
  [class='about-page'] .container__right {
    width: calc(100% - 162px); } }
[class='about-page'] .header {
  height: 64px;
  background-color: #00BEAE; }
[class='about-page'] .header__logo {
  height: 100%;
  width: 142px;
  margin-left: 20px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-position: -13px 6px; }
[class='about-page'] .header__link {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: inline-block; }
[class='about-page'] .header__link_item {
  padding: 0px 19px; }
  [class='about-page'] .header__link_item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }
[class='about-page'] .header__nav {
  height: 100%;
  color: #fff;
  font-size: .75rem;
  font-weight: bold; }
[class='about-page'] .header__burger {
  display: none; }
[class='about-page'] .header__list {
  padding: 0;
  margin: 0;
  height: 100%;
  text-transform: uppercase;
  float: right;
  font-size: 0; }
[class='about-page'] .header__list_open {
  display: none; }
[class='about-page'] .header__item {
  height: 100%;
  transition: background-color 1s ease-in-out; }
  [class='about-page'] .header__item:hover {
    background-color: #06ad9f; }
@media all and (max-width: 690px) {
  [class='about-page'] .header__burger {
    display: inline-block;
    float: right;
    width: 20px;
    height: 16px;
    margin: 24px 20px; }
  [class='about-page'] .header__list {
    display: none; }
  [class='about-page'] .header__list_open {
    display: block;
    width: calc(100% + 162px);
    position: relative;
    top: 0; }
  [class='about-page'] .header__item {
    width: 100%;
    background-color: #00BEAE;
    border-top: 1px solid white; } }
[class='about-page'] .header__text {
  font-size: .75rem; }
[class='about-page'] .header__pic-arrow {
  width: 8px;
  height: 4px;
  background-image: url(../../images/pic-arrow.svg);
  background-repeat: no-repeat;
  background-position: -1px -2px;
  margin-left: 14px;
  margin-right: 7px; }
[class='about-page'] .header__pic-heart {
  width: 24px;
  height: 18px;
  background-image: url(../../images/pic-heart.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  margin-right: 8px; }
[class='about-page'] .content__section_gray {
  background-color: #E5E5E5; }
[class='about-page'] .article-wrapper {
  padding: 95px 105px; }
[class='about-page'] .article-wrapper_center {
  text-align: center;
  padding-bottom: 0;
  padding-top: 90px; }
[class='about-page'] .article-wrapper_top-padding {
  padding-top: 39px; }
[class='about-page'] .article-wrapper_bottom-padding {
  padding-bottom: 30px; }
[class='about-page'] .article-wrapper_intro {
  padding: 92px 104px; }
@media all and (max-width: 900px) {
  [class='about-page'] .article-wrapper {
    padding: 40px 50px; } }
@media all and (max-width: 790px) {
  [class='about-page'] .article-wrapper {
    padding: 40px 0px; }
  [class='about-page'] .article-wrapper_intro {
    padding: 40px 20px; } }
[class='about-page'] .article_small {
  width: 314px;
  height: 354px;
  margin: 0px 10px 55px;
  display: inline-block;
  text-align: left;
  padding: 67px 33px 36px 26px;
  background-color: #fff;
  position: relative; }
[class='about-page'] .article__header {
  color: #4F4F4F;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 5px; }
[class='about-page'] .article__header_center {
  text-align: center; }
[class='about-page'] .article__header_space-after {
  margin-bottom: 21px;
  word-spacing: 4px;
  letter-spacing: 0px; }
[class='about-page'] .article__text {
  color: #333333; }
[class='about-page'] .article__text_small {
  font-size: .9rem;
  line-height: 1.2rem; }
[class='about-page'] .article__text_big {
  font-size: 1.1rem;
  line-height: 1.5rem; }
[class='about-page'] .article__text_half {
  width: 50%;
  line-height: 25px;
  word-spacing: 3px;
  letter-spacing: 0px; }
[class='about-page'] .article__link {
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
  display: inline-block; }
[class='about-page'] .article__link_intro {
  width: 240px;
  padding: 17px 0;
  margin: 44px 0 0;
  background-color: #FF5A5F;
  font-size: .9rem;
  text-align: center;
  transition: background-color 1s ease-in-out; }
  [class='about-page'] .article__link_intro:hover {
    background-color: rgba(255, 90, 95, 0.8); }
[class='about-page'] .article__pic {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  position: absolute;
  left: calc(51% - 32px);
  top: -10%; }
[class='about-page'] .article__pic_aqua {
  background-color: #00BEAE; }
[class='about-page'] .article__pic_yellow {
  background-color: #F4C900; }
[class='about-page'] .article__pic_orangered {
  background-color: #FF5A5F; }
[class='about-page'] .article__image {
  margin-top: 25px; }
[class='about-page'] .article__image_partners {
  max-width: 100%;
  height: 315px;
  max-height: 315px;
  background-image: url(../../images/partners.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat; }
[class='about-page'] .article__image_plane {
  max-width: 100%;
  height: 80px;
  max-height: 80px;
  background-image: url(../../images/plane.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat; }
[class='about-page'] .article__image_world-map {
  max-width: 100%;
  height: 370px;
  max-height: 370px;
  background-image: url(../../images/world-map.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat; }
[class='about-page'] .partners {
  margin-top: 40px;
  width: 100%;
  word-spacing: 50px;
  text-align: justify; }
[class='about-page'] .partners__item {
  display: inline-block;
  width: 25%;
  height: 85px;
  margin-right: 20px;
  text-align: center;
  list-style-type: none; }
  @media all and (max-width: 690px) {
    [class='about-page'] .partners__item {
      width: 100%;
      margin-right: 0; } }
[class='about-page'] .partners__link {
  width: 100%;
  height: 100%;
  display: inline-block;
  text-decoration: none;
  text-align: center; }
[class='about-page'] .partners__icon {
  width: 100px; }
[class='about-page'] .footer {
  height: 280px;
  width: 100%;
  background-color: #404040; }

/*# sourceMappingURL=about.css.map */
