// Imports
@import "../../vendors/normalize.css";

// Variables
$screenWidth: 1024px;

$aqua: #00BEAE;
$yellow: #F4C900;
$orangered: #FF5A5F;

$headerBgColor: #00BEAE;
$headerItemHoverBgColor: #06ad9f;

$contentSectionBgGray: #E5E5E5;
$articleHeaderColor: #4F4F4F;
$articleTextColor: #333333;
$articleLinkColor: #fff;
$articleLinkIntroBgC: #FF5A5F;

$footerBgColor: #404040;

// Mixins
@mixin verticalMiddle {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Super classes
.verticalAlignClass {
  vertical-align: middle;
  display: inline-block;
}

.paddingMarginZero {
  padding: 0;
  margin: 0;
}

// Page configurations
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.page-container {
  min-height: calc(100% - 280px);

  min-width: 680px;
}

[class='about-page'] {
  // Container
  .container {
    max-width: $screenWidth;
    height: 100%;
    margin: 0 auto;

    @include clearfix;
  }

  .container__left {
    width: 50%;
    height: 100%;
    float: left;

    @include clearfix;
  }

  .container__right {
    width: 50%;
    height: 100%;
    float: right;

    @include clearfix;
  }


  @media all and (max-width: 880px) {
    .container__left {
      width: 260px;
    }

    .container__right {
      width: calc(100% - 260px);
    }
  }

  // Header
  .header {
    height: 64px;
    background-color: $headerBgColor;
  }

  .header__logo {
    height: 100%;
    padding-left: 20px;

    @include verticalMiddle;
  }

  .header__link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }

  .header__link_item {
    padding: 0px 18px;

    @include verticalMiddle;
  }

  .header__pic {
    height: 42px;
    width: 42px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: -16px -4px;

    @extend .verticalAlignClass;
  }

  .header__slogan {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: bold;

    margin-left: 5px;

    @extend .verticalAlignClass;
  }

  .header__nav {
    height: 100%;
    color: #fff;
    font-size: .75em;
    font-weight: bold;
  }

  .header__list {
    padding: 0;
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    float: right;
  }

  .header__item {
    height: 100%;
    transition: background-color 1s ease-in-out;

    @extend .verticalAlignClass;

    &:hover {
      background-color: $headerItemHoverBgColor;
    }
  }

  .header__text {
    @extend .verticalAlignClass;
  }

  .header__pic-arrow {
    width: 8px;
    height: 4px;
    background-image: url(../../images/pic-arrow.svg);
    background-repeat: no-repeat;
    background-position: -1px -2px;
    margin-left: 12px;

    @extend .verticalAlignClass;
  }

  .header__pic-heart {
    width: 20px;
    height: 17px;
    background-image: url(../../images/pic-heart.svg);
    background-repeat: no-repeat;
    background-position: 0px -1px;
    margin-right: 8px;

    @extend .verticalAlignClass;
  }

  // Content
  .content {

  }
  .content__section {

  }

  .content__section_gray {
    background-color: $contentSectionBgGray;
  }

  // Article wrapper
  .article-wrapper {
    padding: 95px 105px;
  }

  .article-wrapper_center {
    text-align: center;
    padding-bottom: 0;
  }

  .article-wrapper_top-padding {
    padding-top: 45px;
  }

  .article-wrapper_bottom-padding {
    padding-bottom: 30px;
  }

  @media all and (max-width: 900px) {
    .article-wrapper {
      padding: 40px 50px;
    }
  }

  @media all and (max-width: 790px) {
    .article-wrapper {
      padding: 40px 0px;
    }

    .article-wrapper_intro {
      padding: 40px 20px;
    }
  }

  // Article
  .article {

  }

  .article_small {
    width: 314px;
    height: 354px;
    margin: 0px 10px 48px;

    display: inline-block;

    text-align: left;
    padding: 67px 33px 36px 26px;

    background-color: #fff;

    position: relative;
  }

  .article__header {
    color: $articleHeaderColor;
    font-size: 2.25em;
    font-weight: bold;

    @extend .paddingMarginZero;
  }
  
  .article__header_center {
    text-align: center;
  }

  .article__header_space-after {
    margin-bottom: 25px;
  }

  .article__text {
    color: $articleTextColor;

    @extend .paddingMarginZero;
  }

  .article__text_small {
    font-size: .9em;
    line-height: 1.2em;
  }

  .article__text_big {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  .article__text_half {
    width: 50%;
  }

  .article__link {
    width: 100%;
    height: 100%;
    color: $articleLinkColor;
    text-decoration: none;
    display: inline-block;
  }

  .article__link_intro {
    width: 240px;
    padding: 17px 0;
    margin: 40px 0 0;
    background-color: $articleLinkIntroBgC;

    font-size: .9em;
    text-align: center;
    transition: background-color 1s ease-in-out;

    &:hover {
      background-color: rgba($articleLinkIntroBgC, .8);
    }
  }

  .article__pic {
    width: 63px;
    height: 63px;
    border-radius: 50%;

    position: absolute;
    left: calc(50% - 32px);
    top: -9%;
  }

  .article__pic_aqua {
    background-color: $aqua;
  }

  .article__pic_yellow {
    background-color: $yellow;
  }

  .article__pic_orangered {
    background-color: $orangered;
  }

  .article__image {
    margin-top: 25px;
  }

  .article__image_partners {
    max-width: 100%;
    height: 315px;
    max-height: 315px;

    background-image: url(../../images/partners.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .article__image_plane {
    max-width: 100%;
    height: 80px;
    max-height: 80px;

    background-image: url(../../images/plane.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .article__image_world-map {
    max-width: 100%;
    height: 370px;
    max-height: 370px;

    background-image: url(../../images/world-map.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  // Partners
  .partners {
    margin-top: 40px;
    width: 100%;
    word-spacing: 50px;

    @extend .paddingMarginZero;
  }

  .partners__item {
    display: inline-block;
    width: 25%;
    height: 100px;
    margin-right: 20px;
    text-align: center;

    list-style-type: none;
  }

  .partners__link {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;

    text-align: center;

    @include verticalMiddle;
  }

  .partners__icon {
    width: 100px;
  }

  // FOOTER
  .footer {
    height: 280px;
    width: 100%;
    background-color: $footerBgColor;
  }
}