@import url(../../vendors/normalize.css);
.verticalAlignClass, [class='header']
.header__pic, [class='header']
.header__slogan, [class='header']
.header__item, [class='header']
.header__text, [class='header']
.header__pic-arrow, [class='header']
.header__pic-heart {
  vertical-align: middle;
  display: inline-block; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif; }

[class='page-container'] {
  min-height: calc(100% - 280px); }

[class='container'] {
  width: 1024px;
  height: 100%;
  margin: 0 auto; }
  [class='container']:before, [class='container']:after {
    content: "";
    display: table; }
  [class='container']:after {
    clear: both; }

[class='container']
.container__left {
  width: 50%;
  height: 100%;
  float: left; }
  [class='container']
  .container__left:before, [class='container']
  .container__left:after {
    content: "";
    display: table; }
  [class='container']
  .container__left:after {
    clear: both; }

[class='container']
.container__right {
  width: 50%;
  height: 100%;
  float: right; }
  [class='container']
  .container__right:before, [class='container']
  .container__right:after {
    content: "";
    display: table; }
  [class='container']
  .container__right:after {
    clear: both; }

[class='header'] {
  height: 64px;
  background-color: #00BEAE; }

[class='header']
.header__logo {
  height: 100%;
  padding-left: 20px; }
  [class='header']
  .header__logo:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

[class='header']
.header__link {
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
  display: inline-block; }

[class='header']
.header__link_item {
  padding: 0px 18px; }
  [class='header']
  .header__link_item:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle; }

[class='header']
.header__pic {
  height: 42px;
  width: 42px;
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-position: -16px -4px; }

[class='header']
.header__slogan {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 5px; }

[class='header']
.header__nav {
  height: 100%;
  color: #fff;
  font-size: .75em;
  font-weight: bold; }

[class='header']
.header__list {
  padding: 0;
  margin: 0;
  height: 100%;
  text-transform: uppercase;
  float: right; }

[class='header']
.header__item {
  height: 100%; }
  [class='header']
  .header__item:hover {
    background-color: #06ad9f; }

[class='header']
.header__pic-arrow {
  width: 8px;
  height: 4px;
  background-image: url(../../images/pic-arrow.svg);
  background-repeat: no-repeat;
  background-position: -1px -2px;
  margin-left: 12px; }

[class='header']
.header__pic-heart {
  width: 20px;
  height: 17px;
  background-image: url(../../images/pic-heart.svg);
  background-repeat: no-repeat;
  background-position: 0px -1px;
  margin-right: 8px; }

[class='footer'] {
  height: 280px; }

/*# sourceMappingURL=about.css.map */
