// Imports
@import "../../vendors/normalize.css";

// Variables
$screenWidth: 1280px;

$aqua: #00BEAE;
$yellow: #F4C900;
$orangered: #FF5A5F;
$darkGreen: #06ad9f;

$headerBgColor: #00BEAE;
$headerItemHoverBgColor: $darkGreen;

$contentBg: #F2F2F2;
$sectionGreen: #48B29E;

$regularHeaderColor: #4F4F4F;
$regularTextColor: #333333;

$footerBgColor: $contentBg;

// Extensions for media queries
$tabletExtension: 750px;
$littleDesktopExtension: 1000px;

// Mixins
@mixin placeholderStyles {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder          { @content; } /* Firefox 19+ */
  &:-moz-placeholder           { @content; } /* Firefox 18- */
  &:-ms-input-placeholder      { @content; }
}

@mixin verticalMiddle {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Super classes
.verticalAlignClass {
  vertical-align: middle;
  display: inline-block;
}

.paddingMarginZero {
  padding: 0;
  margin: 0;
}

// Page configurations
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.page-container {
  min-height: calc(100% - 280px);
}

[class='home-page'] {
  height: 100%;

  // Container
  .container {
    max-width: $screenWidth;
    height: 100%;
    margin: 0 auto;
    font-size: 0;
    overflow: hidden;
  }

  .container__left {
    width: 50%;
    height: 100%;
    display: inline-block;
  }

  .container__right {
    width: 50%;
    height: 100%;
    display: inline-block;
  }

  .container__column {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }

  // Special media query for better behavior.
  @media all and (max-width: 880px) {
    .container__left {
      width: 162px;
    }

    .container__right {
      width: calc(100% - 162px);
    }
  }

  // Header
  .header {
    height: 64px;
    background-color: $headerBgColor;
  }

  .header__logo {
    height: 100%;
    width: 142px;
    //margin-left: 20px; // works good for my desktop without responsive google dev tool.
    margin-left: 15px;

    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: -13px 6px;
  }

  .header__link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }

  .header__link_item {
    //padding: 0px 19px; // works good for my desktop without responsive google dev tool.
    padding: 0px 20px;

    @include verticalMiddle;
  }

  .header__nav {
    height: 100%;
    color: #fff;
    font-size: .75rem;
    font-weight: bold;
  }

  .header__burger {
    display: none;
  }

  .header__list {
    padding: 0;
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    float: right;
    font-size: 0;
  }

  .header__list_open {
    display: none;
    z-index: 2;
  }

  .header__item {
    height: 100%;
    transition: background-color 1s ease-in-out;

    @extend .verticalAlignClass;

    &:hover {
      background-color: $headerItemHoverBgColor;
    }
  }

  @media all and (max-width: 690px){
    .header__burger {
      display: inline-block;
      float: right;
      width: 20px;
      height: 16px;

      margin: 24px 20px;
    }

    .header__list {
      display: none;
    }

    .header__list_open {
      display: block;
      width: calc(100% + 162px);
      position: relative;
      top: 0;
    }

    .header__item {
      width: 100%;
      background-color: $headerBgColor;
      border-top: 1px solid white;
    }
  }

  .header__text {
    font-size: .75rem;
    @extend .verticalAlignClass;
  }

  .header__pic-arrow {
    width: 8px;
    height: 4px;
    background-image: url(../../images/pic-arrow.svg);
    background-repeat: no-repeat;
    background-position: -1px -2px;

    //margin-left: 14px; // works good for my desktop without responsive google dev tool.
    //margin-right: 7px; // works good for my desktop without responsive google dev tool.

    margin-left: 12px;
    margin-right: 7px;

    @extend .verticalAlignClass;
  }

  .header__pic-heart {
    width: 24px;
    height: 18px;
    background-image: url(../../images/pic-heart.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-right: 8px;

    @extend .verticalAlignClass;
  }

  // Content
  .content {
    height: 100%;
    background-color: $contentBg;
    overflow: hidden;

    position: relative;
  }

  // fix: maybe it should be deleted
  .content__section {
    margin: 0;
    padding: 0;

    display: inline-block;
    width: 100%;
  }

  // Section
  .section {

  }

  .section__content {
    width: 100%;
    display: block;
  }

  .section__header {
    margin: 0;
    color: $regularHeaderColor;
    font-size: 36px;
    text-align: center;
    font-weight: normal;
  }

  .section__slogan {
    margin: 0;
    font-size: 14px;
  }

  .section__text {
    margin: 0;
  }

  .section__link {
    display: inline-block;
  }

  .section__mark {
    display: inline-block;
    overflow: hidden;
    text-align: center;
    vertical-align: top;
    border-radius: 50%;
    color: #fff;
    font-weight:bold;
    background-color: $orangered;
  }

  .section__mark_big {
    width: 24px;
    height: 24px;
    line-height: 30px;
    font-size: 25px;
    position: absolute;
    margin-top: 6px;
    margin-left: 8px;
  }

  .section__mark_small {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    font-size:18px;
  }

  .section_slider {
    width: 100%;
    padding-top: 104px;
    padding-bottom: 136px;

    .section__header {
      margin: 0 auto 42px;
      width: 600px; //737px;
      font-size: 48px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }

    .section__text {
      margin-top: 21px;
      margin-bottom:40px;

      text-align: center;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
    }
  }

  .section_countries {
    padding: 46px 0 19px 0;

    .section__header {
      margin-bottom: 42px;
    }

    .section__link {
      margin-right: 20px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .section__content {
      margin-bottom: 22px;
      text-align: center;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .section_treatment {
    padding-top: 32px;
    
    .section__content {
      text-align: center;
    }

    .section__header {
      margin-bottom: 48px;
    }
  }

  .section_promo {
    background-color: $sectionGreen;
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
    color: #fff;

    .section__content {
      margin-bottom: 55px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    .section__header {
      max-width: 770px;
      margin: 0 auto;
      margin-bottom: 26px;
      position: relative;
      color: #fff;
      line-height: 130%;
    }

    .section__slogan {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 54px;
    }

    .section__link {
      width: 300px;
      height: 40px;
      font-size: 14px;
      font-weight: bold;
      line-height: 40px;
      letter-spacing: initial;
      text-decoration: none;
      text-align: center;
      color: #fff;
      background-color: $orangered;

      transition: background-color .5s ease-in-out;

      &:hover {
        background-color: mix($orangered, #000, 90%)
      }
    }
  }
  
  .section_organizations {
    background-color: $sectionGreen;

    .section__slogan {
      max-width: 820px;
      margin: 0 auto;
      margin-bottom: 39px;
      font-size: 14px;
      text-align: center;
      font-weight: normal;
      color: $regularTextColor;
    }

    .section__list {
      margin: 0;
      padding: 0;
      width: 100%;
      text-align: center;
    }

    .section__item {
      display: inline-block;
      width: 260px;
      margin-bottom: 40px;
      overflow: hidden;
    }

    .section__pic {
      display: inline-block;
      margin-right: 15px;
      width: 50px;
      height: 50px;
      vertical-align: middle;
      border-radius: 50%;
      background-color: $contentBg;
    }

    .section__description {
      display: inline-block;
      width: 156px;
      vertical-align: middle;
      text-align: left;
      font-size: 14px;
      font-weight: normal;
      color: $regularTextColor;
    }
  }
  
  .section_patients {
    padding-top: 68px;
    padding-bottom: 59px;

    .section__header {
      margin-bottom: 47px;
    }

    .section__content {
      text-align: center;
    }
  }
  
  .section_info {
    padding: 16px 123px 28px;
    color: white;
    background-color: $sectionGreen;
    overflow: hidden;

    .section__slogan {
      font-size: 18px;
      margin-bottom: 7px;
      font-weight: bold;
    }

    .section__text {
      font-size: 14px;
      font-weight: normal;
    }

    .section__content {
      float: left;
      width: auto;
    }

    .section__content_right {
      float: right;
    }

    .section__link {
      height: 43px;
      width: 248px;
      color: #fff;
      font-size: 14px;
      font-weight: bold;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      border: 1px solid #fff;
      transition: background-color .5s ease-in-out;
      
      &:hover {
        background-color: darken($sectionGreen, 10%);
      }
    }
  }

  .section_reviews {
    padding-top: 49px;
    padding-bottom: 52px;

    .section__header {
      margin-bottom: 39px;
    }
    
    .section__content {
      text-align: center;
      margin-bottom: 34px;
    }
  }

  // Article
  .article {
    text-align: center;
  }

  .article__icon {

  }

  .article__image {
    width: 100%;
    height: 100%;
  }

  .article__title {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
  }

  .article__text {
    margin: 0;
    font-size: 14px;
  }

  .article_country {
    width: 231px;
    height: 231px;
    padding: 94px 0 0 0;
    display: inline-block;
    position: relative;
    color: #fff;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      background-color: transparent;
      opacity: .4;

      transition: background-color .5s ease-in-out;
    }

    &:hover:before {
      background-color: #000;
    }

    .article__icon {
      position: absolute;
      top: 0;
      left: 24px;
      width: 29px;
      height: 35px;
    }

    .article__title {
      margin-bottom: 15px;
      font-size: 24px;
      font-weight: normal;
    }

    .article__text {
      line-height: 18px;
      text-transform: uppercase;
    }
  }

  .article_treatment {
    display: inline-block;
    width: 256px;
    background-color: #fff;
    color: #000;
    overflow: hidden;

    transition: background-color .5s ease-in-out;

    &:hover {
      background-color: $contentBg;
    }

    .article__title {
      margin-bottom: 16px;
    }

    .article__cover {
      width: 100%;
      height: 140px;
    }

    .article__content {
      padding: 30px 0 30px 0;
      border-right: 1px solid #E5E5E5;
    }

    .article__content_withoutBorder {
      border: 0;
    }

    .article__text {
      margin-bottom: 0;
    }

    .article__icon {
      width: 20px;
      height: 9px;
      display: block;
      margin: 0 auto;
      margin-top: 27px;
    }
  }

  .article_promo {
    width: 265px;
    margin-right: 29px;
    vertical-align: top;
    display: inline-block;

    &:last-of-type {
      margin-right: 0;
    }

    .article__pic {
      display: block;
      margin: 0 auto;
      margin-bottom: 28px;
      width: 60px;
      height: 60px;
      background-color: #3AA792;
      border-radius: 50%;
      text-align: center;
      line-height: 60px;
    }

    .article__image {
      width: 26px;
      height: 26px;
      vertical-align: middle;
    }

  }

  .article_patients {
    width: 231px;
    margin-right: 34px;
    display: inline-block;
    vertical-align: top;

    &:last-of-type {
      margin-right: 0;
    }

    .article__pic {
      width: 40px;
      height: 48px;
      margin-bottom: 31px;
    }

    .article__title {
      font-size: 24px;
      font-weight:normal;
      margin-bottom: 14px;
      text-align: left;
    }

    .article__text {
      font-size: 14px;
      font-weight:normal;
      text-align: left;
    }
  }

  .article_review {
    width: 400px;
    min-height: 243px;
    margin-right: 20px;
    padding: 29px 58px 26px 41px;
    background-color: #fff;
    display: inline-block;
    text-align: left;
    vertical-align: top;

    &:last-of-type {
      margin-right: 0;
    }

    .article__title {
      color: $regularTextColor;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 6px;
    }

    .article__time {
      color: #BDBDBD;
      font-size: 14px;
      font-weight: bold;
    }

    .article__content {
      margin-bottom: 18px;

      position: relative;
    }

    //.article__content_left {
    //  float: left;
    //  clear: none;
    //  margin-bottom: 0;
    //}

    //.article__content_right {
    //  float: right;
    //  clear: none;
    //  margin-bottom: 0;
    //}

    .article__text {
      line-height: 142%;
      font-size: 13px;
    }

    .article__rating {
      font-size: 18px;
      unicode-bidi: bidi-override;
      direction: rtl;
      position: absolute;
      top: 2px;
      right: -33px;
    }

    .article__star {
      width: 18px;
      height: 18px;
      background: url("../../images/home-page/unchecked-star.svg") no-repeat;
      display: inline-block;
      position: relative;
      cursor: pointer;
    }

    .article__rating > .article__star:hover:before,
    .article__rating > .article__star:hover ~ .article__star:before {
      content: '';
      width: 18px;
      height: 18px;
      display: block;
      background: url("../../images/home-page/checked-star.svg") no-repeat;
      position: absolute;
    }

  }

  // Slider
  .slider {

  }

  .slider__panel {
    width: 232px;
    margin: 0 auto;
  }

  .slider__play {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
  }

  .slider__panel {
    padding: 0;
    text-align: center;
  }

  .slider__dot {
    width: 10px;
    height: 10px;
    margin-right: 12px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }
  }

  .slider__toggle {
    width: 100%;
    height: 100%;
    display: inline-block;

    border-radius: 50%;
    background-color: #fff;
  }

  .slider__toggle_active {
    background-color: $aqua;
  }

  .slider_reviews {
    .slider__panel {
      padding: 0;
      text-align: center;
    }

    .slider__dot {
      width: 10px;
      height: 10px;
      margin-right: 12px;
      display: inline-block;
      vertical-align: middle;
      background-color: #fff;
      border-radius: 50%;

      &:last-child {
        margin-right: 0;
      }
    }

    .slider__dot_active {
      width: 16px;
      height: 16px;
      background-color: $aqua;
    }

    .slider__toggle {
      width: 100%;
      height: 100%;
      display: inline-block;

      background-color: transparent;
    }
  }

  // Form
  .form {
    margin-bottom: 38px;
    height: 48px;
    text-align: center;
  }

  .form__input {
    margin-right:0;
    width: 400px;
    height: 48px;
    padding: 0 16px;
    border: 0;
    border-right: 1px solid #e0e0e0;
    font-size: 14px;

    &:focus {
      outline: 0;

      @include placeholderStyles {
        color: rgba(#828282, .5);
      }
    }

    @include placeholderStyles {
      color: #828282;
    }
  }

  .form__input_country {
    width: 312px;
  }

  .form__submit {
    height: 48px;
    width: 107px;
    vertical-align: top;
    border: 0;
    background-color: $orangered;
    cursor: pointer;

    font-size:14px;
    color: #fff;

    transition: background-color .5s ease-in;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: mix($orangered, #000, 90%);
    }
  }


  // FOOTER
  .footer {
    height: 280px;
    width: 100%;
    background-color: $footerBgColor;
  }
}