// Imports
@import "../../vendors/normalize.css";

// Variables
$screenWidth: 1024px;

$headerBgColor: #00BEAE;
$headerItemHoverBgColor: #06ad9f;

$contentSectionBgGray: #F2F2F2;

$termNavBg: #06AD9F;
$termNavLinkColor: #fff;
$termNavActiveItem: #007067;

$articleHeaderColor: #4F4F4F;
$articleUpdate: #828282;

$termsTextColor: #333333;
$termsCounter: #007067;

$footerBgColor: #404040;

// Mixins
@mixin verticalMiddle {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// Super classes
.verticalAlignClass {
  vertical-align: middle;
  display: inline-block;
}

.paddingMarginZero {
  padding: 0;
  margin: 0;
}

// Page configurations
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  @media all and (max-width: 720px) {
    font-size: 18px;
  }
}

.page-container {
  min-height: calc(100% - 280px);

  //min-width: 680px;
}

// Container
[class='container'] {
  max-width: $screenWidth;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
  overflow: hidden;

  //@include clearfix;

  .container__left {
    width: 50%;
    height: 100%;
    display: inline-block;

    //@include clearfix;
  }

  .container__right {
    width: 50%;
    height: 100%;
    display: inline-block;

    //@include clearfix;
  }

  @media all and (max-width: 880px) {
    .container__left {
      width: 162px;
    }

    .container__right {
      width: calc(100% - 162px);
    }
  }
}

// Header
[class='header'] {
  height: 64px;
  background-color: $headerBgColor;

  .header__logo {
    height: 100%;
    width: 142px;
    margin-left: 20px;

    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: -13px 6px;
  }

  .header__link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: inline-block;
  }

  .header__link_item {
    padding: 0px 19px;

    @include verticalMiddle;
  }

  .header__nav {
    height: 100%;
    color: #fff;
    font-size: .75rem;
    font-weight: bold;
  }

  .header__burger {
    display: none;
  }

  .header__list {
    padding: 0;
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    float: right;
    font-size: 0;
  }

  .header__list_open {
    display: none;
  }

  .header__item {
    height: 100%;
    transition: background-color 1s ease-in-out;

    @extend .verticalAlignClass;

    &:hover {
      background-color: $headerItemHoverBgColor;
    }
  }

  @media all and (max-width: 690px){
    .header__burger {
      display: inline-block;
      float: right;
      width: 20px;
      height: 16px;

      margin: 24px 20px;
    }

    .header__list {
      display: none;
    }

    .header__list_open {
      display: block;
      width: calc(100% + 162px);
      position: relative;
      top: 0;
    }

    .header__item {
      width: 100%;
      background-color: $headerBgColor;
      border-top: 1px solid white;
    }
  }

  .header__text {
    font-size: .75rem;
    @extend .verticalAlignClass;
  }

  .header__pic-arrow {
    width: 8px;
    height: 4px;
    background-image: url(../../images/pic-arrow.svg);
    background-repeat: no-repeat;
    background-position: -1px -2px;

    margin-left: 14px;
    margin-right: 7px;

    @extend .verticalAlignClass;
  }

  .header__pic-heart {
    width: 24px;
    height: 18px;
    background-image: url(../../images/pic-heart.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-right: 8px;

    @extend .verticalAlignClass;
  }
}

//Content
[class='content'] {
  .content__section {

  }

  .content__section_gray {
    background-color: $contentSectionBgGray;
  }

  // Term navigation
  .term-nav {
    height: 48px;
    overflow: hidden;
    background-color: $termNavBg;
  }

  .term-nav__list {
    height: 100%;
    padding-left: 30px;

    @extend .paddingMarginZero;
  }

  .term-nav__item {
    height: 100%;
    margin-right: 30px;
    display: inline-block;
    transition: border-bottom .3s ease-in-out;
  }
  
  // Make term-nav work...again.
  .controller {
    display: none;
  }

  .rules {
    display: none;
  }

  .controller:checked + .rules {
    display: block;
  }

  .term-nav__link {
    height: 100%;
    width: 100%;
    display: inline-block;
    cursor: pointer;

    color: $termNavLinkColor;

    font-size: .9rem;
    font-weight: bold;
    text-decoration: none;

    padding: 15px 0 10px;

    //@include verticalMiddle;
  }

  .term-nav__link_active {
    border-bottom: $termNavActiveItem solid 6px;
  }

  // Article
  .article {

  }

  .article__header {
    color: $articleHeaderColor;
    font-size: 2.25rem;
    font-weight: bold;

    margin: 32px 0 0;
    padding-left: 8px;

    @extend .paddingMarginZero;

    @media all and (max-width: 360px) {
      padding-left: 0;
      font-size: 1.9rem;
    }
  }

  .article__header_center {
    text-align: center;
  }

  .article__update {
    color: $articleUpdate;
    font-size: .9rem;

    margin: 20px 0 0;

    @extend .paddingMarginZero;
  }

  .article__update_center {
    text-align: center;
    margin: 18px 0 0;
    padding-left: 11px;
  }

  .article__date {
    font-weight: bold;
  }

  .article__list {
    margin-top: 20px;

    @media all and (max-width: 700px) {
      padding-left: 10px;
      padding-right: 5px;
    }
  }

  // Terms
  .terms {
    max-width: 640px;
    margin: 35px auto;

    counter-reset: item;

    @extend .paddingMarginZero;
  }
  
  .terms__item {
    display: block;
    margin-top: 25px;

    &:before {
      font-size: 1.5rem;
      color: $termsCounter;

      content: counters(item, ".") ". ";
      counter-increment: item;
    }
  }

  .terms__item_small {
    margin-top: 15px;

    &:before {
      font-size: .9rem;
    }
  }

  .terms__item_not-marked {
    margin-top: 6px;
    padding-left: 35px;

    background-image: url(../../images/circle.svg);
    background-position: 15px 5px;
    background-repeat: no-repeat;

    &:before {
      display: none;
    }
  }

  .terms__header {
    font-size: 1.5rem;
    color: $termsCounter;
  }
  
  .terms__text {
    margin: 15px 0 0;

    font-size: .9rem;
    line-height: 1.2rem;
    color: $termsTextColor;
  }

  .terms__text_next-line {
    &:before {
      content: '';
      width: 100%;
      display: inline-block;
    }
  }

  .terms__inner-list {
    counter-reset: item;
    @extend .paddingMarginZero;
  }

  .terms__not-numeric-list {
    color: $termsCounter;

    @extend .paddingMarginZero;
  }

}

// FOOTER
[class='footer'] {
  height: 280px;
  width: 100%;
  background-color: $footerBgColor;
}