@import url(../../vendors/normalize.css);
.verticalAlignClass, [class='header'] .header__item, [class='header'] .header__text, [class='header'] .header__pic-arrow, [class='header'] .header__pic-heart {
  vertical-align: middle;
  display: inline-block; }

.paddingMarginZero, [class='content'] .term-nav__list, [class='content'] .article__header, [class='content'] .article__update, [class='content'] .terms, [class='content'] .terms__inner-list, [class='content'] .terms__not-numeric-list {
  padding: 0;
  margin: 0; }

* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto', sans-serif; }
  @media all and (max-width: 720px) {
    html, body {
      font-size: 18px; } }

.page-container {
  min-height: calc(100% - 280px); }

[class='container'] {
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  font-size: 0;
  overflow: hidden; }
  [class='container'] .container__left {
    width: 50%;
    height: 100%;
    display: inline-block; }
  [class='container'] .container__right {
    width: 50%;
    height: 100%;
    display: inline-block; }
  @media all and (max-width: 880px) {
    [class='container'] .container__left {
      width: 162px; }
    [class='container'] .container__right {
      width: calc(100% - 162px); } }

[class='header'] {
  height: 64px;
  background-color: #00BEAE; }
  [class='header'] .header__logo {
    height: 100%;
    width: 142px;
    margin-left: 20px;
    background-image: url(../../images/logo.svg);
    background-repeat: no-repeat;
    background-position: -13px 6px; }
  [class='header'] .header__link {
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    display: inline-block; }
  [class='header'] .header__link_item {
    padding: 0px 19px; }
    [class='header'] .header__link_item:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle; }
  [class='header'] .header__nav {
    height: 100%;
    color: #fff;
    font-size: .75rem;
    font-weight: bold; }
  [class='header'] .header__burger {
    display: none; }
  [class='header'] .header__list {
    padding: 0;
    margin: 0;
    height: 100%;
    text-transform: uppercase;
    float: right;
    font-size: 0; }
  [class='header'] .header__list_open {
    display: none; }
  [class='header'] .header__item {
    height: 100%;
    transition: background-color 1s ease-in-out; }
    [class='header'] .header__item:hover {
      background-color: #06ad9f; }
  @media all and (max-width: 690px) {
    [class='header'] .header__burger {
      display: inline-block;
      float: right;
      width: 20px;
      height: 16px;
      margin: 24px 20px; }
    [class='header'] .header__list {
      display: none; }
    [class='header'] .header__list_open {
      display: block;
      width: calc(100% + 162px);
      position: relative;
      top: 0; }
    [class='header'] .header__item {
      width: 100%;
      background-color: #00BEAE;
      border-top: 1px solid white; } }
  [class='header'] .header__text {
    font-size: .75rem; }
  [class='header'] .header__pic-arrow {
    width: 8px;
    height: 4px;
    background-image: url(../../images/pic-arrow.svg);
    background-repeat: no-repeat;
    background-position: -1px -2px;
    margin-left: 14px;
    margin-right: 7px; }
  [class='header'] .header__pic-heart {
    width: 24px;
    height: 18px;
    background-image: url(../../images/pic-heart.svg);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin-right: 8px; }

[class='content'] .content__section_gray {
  background-color: #F2F2F2; }
[class='content'] .term-nav {
  height: 48px;
  overflow: hidden;
  background-color: #06AD9F; }
[class='content'] .term-nav__list {
  height: 100%;
  padding-left: 30px; }
[class='content'] .term-nav__item {
  height: 100%;
  margin-right: 30px;
  display: inline-block;
  transition: border-bottom .3s ease-in-out; }
[class='content'] .controller {
  display: none; }
[class='content'] .rules {
  display: none; }
[class='content'] .controller:checked + .rules {
  display: block; }
[class='content'] .term-nav__link {
  height: 100%;
  width: 100%;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-size: .9rem;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 0 10px; }
[class='content'] .term-nav__link_active {
  border-bottom: #007067 solid 6px; }
[class='content'] .article__header {
  color: #4F4F4F;
  font-size: 2.25rem;
  font-weight: bold;
  margin: 32px 0 0;
  padding-left: 8px; }
  @media all and (max-width: 360px) {
    [class='content'] .article__header {
      padding-left: 0;
      font-size: 1.9rem; } }
[class='content'] .article__header_center {
  text-align: center; }
[class='content'] .article__update {
  color: #828282;
  font-size: .9rem;
  margin: 20px 0 0; }
[class='content'] .article__update_center {
  text-align: center;
  margin: 18px 0 0;
  padding-left: 11px; }
[class='content'] .article__date {
  font-weight: bold; }
[class='content'] .article__list {
  margin-top: 20px; }
  @media all and (max-width: 700px) {
    [class='content'] .article__list {
      padding-left: 10px;
      padding-right: 5px; } }
[class='content'] .terms {
  max-width: 640px;
  margin: 35px auto;
  counter-reset: item; }
[class='content'] .terms__item {
  display: block;
  margin-top: 25px; }
  [class='content'] .terms__item:before {
    font-size: 1.5rem;
    color: #007067;
    content: counters(item,".") ". ";
    counter-increment: item; }
[class='content'] .terms__item_small {
  margin-top: 15px; }
  [class='content'] .terms__item_small:before {
    font-size: .9rem; }
[class='content'] .terms__item_not-marked {
  margin-top: 6px;
  padding-left: 35px;
  background-image: url(../../images/circle.svg);
  background-position: 15px 5px;
  background-repeat: no-repeat; }
  [class='content'] .terms__item_not-marked:before {
    display: none; }
[class='content'] .terms__header {
  font-size: 1.5rem;
  color: #007067; }
[class='content'] .terms__text {
  margin: 15px 0 0;
  font-size: .9rem;
  line-height: 1.2rem;
  color: #333333; }
[class='content'] .terms__text_next-line:before {
  content: '';
  width: 100%;
  display: inline-block; }
[class='content'] .terms__inner-list {
  counter-reset: item; }
[class='content'] .terms__not-numeric-list {
  color: #007067; }

[class='footer'] {
  height: 280px;
  width: 100%;
  background-color: #404040; }

/*# sourceMappingURL=terms.css.map */
